{
  "extends": ["next/core-web-vitals", "next/typescript", "plugin:prettier/recommended", "@unocss"],

  "rules": {
      "@unocss/order": "error", // or "error",
      "@unocss/enforce-class-compile": "error"
      // "@unocss/<another-rule-name>": ["warn" /* or "error" */, { /* options */ }]
  }
}
